<div class="contdiv p-4" style="background-color: white;" >
    <div  class="d-flex justify-content-between align-items-center  ">
        <div>
            <h2 class="m-0" >
                <span>Transacciones de la tienda: <span>                    
                    <strong class="text-primary" >
                        ( {{ listaTransacciones.length }} )
                    </strong>
                </span> </span> &nbsp;&nbsp;
                <span class="text-primary" > {{ nombreTienda | uppercase}} </span> 
            </h2>
        </div>
        <div>
            <!-- <i class="pi pi-home" ></i>xx -->
            <button  class="d-flex align-items-center btn btn-sm btn-outline-primary " (click)="exportToExcel()">
                        <img src="../../../../../../assets/excel.png" width="50px" alt="">
                        <div>Exportar a excel</div>
                </button>    
        </div>
    </div>
    <hr>
    <div class="d-flex justify-content-between align-items-center " >
        
        <div class="w-50 d-flex align-items-center">
            <section class="filtros w-100 mt-1">
                <form [formGroup]="filterTransacForm">
                    <div class="mb-2 d-flex">
                        <input class=" w-100 shadow-sm form-control rounded-pill"
                               fxFlex="auto"
                               type="text"
                               formControlName="filterTransacc"
                               #filterTransacc
                               id="filterTransacc"
                               (keyup)="filterTransaccos()"
                               placeholder="Búsqueda de transacciones registradas a esta tienda..."
                               >
                    </div>
                </form>
            </section>
            <div [style]="'background-image: url( '+calendar+' )' " title="Filtrar por fecha" (click)="calendar_show = !calendar_show" class="icono-btn" ></div>&nbsp;
        </div>
        <div *ngIf="calendar_show" >
            <form [formGroup]="filterTransacDateForm">
                <mat-form-field>
                    <mat-label>Enter a date range</mat-label>
                    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                    <mat-date-range-input [rangePicker]="picker">
                      <input matStartDate 
                             placeholder="Start date"
                             formControlName="startDate"
                             #startDate
                             id="startDate"
                             >
                      <input matEndDate
                             placeholder="End date"
                             formControlName="endDate"
                             #endDate
                             id="endDate"
                             >
                    </mat-date-range-input>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </form>
            <button class="btn btn-waning" (click)="filterByDateRange()">Buscar</button>
        </div>
    </div>

        
    <div class="table-responsive w-100" style="max-height: 600px; overflow: auto;" >
        <table class="table table-bordered table-warning align-middle " >
            <thead class="bg-dark text-light" >
                <th class="p-1" >
                    Fecha y hora
                </th>
                <th class="p-1">
                    Cliente
                </th>
                <th class="p-1">
                    Tienda
                </th>
                <th class="p-1">
                    Cuenta Bancaria
                </th>
                <th class="p-1" title="Número de transacción">
                    N. Trans.
                </th>                
                <th class="p-1" >
                    N. Serie Equipo
                </th>           
                <th class="p-1">
                    Usuario
                </th>
                <th class="p-1">
                    Nombre usuario
                </th>                
                <th class="p-1" >
                    $1
                </th>
                <th class="p-1" >
                    $2
                </th>
                <th class="p-1" >
                    $5
                </th>
                <th class="p-1" >
                    $10
                </th>
                <th class="p-1" >
                    $20
                </th>
                <th class="p-1" >
                    $50
                </th>
                <th class="p-1" >
                    $100
                </th>
                <th class="p-1" >
                    $0.01
                </th>
                <th class="p-1" >
                    $0.05
                </th>
                <th class="p-1" >
                    $0.10
                </th>
                <th class="p-1" >
                    $0.25
                </th>
                <th class="p-1" >
                    $0.50
                </th>
                <th class="p-1" >
                    $1.00
                </th>
                <th class="p-1">
                    Total
                </th>
                <th class="p-1" title="Tipo de transacción" >
                    Tipo Trans.
                </th>
            </thead>
            <tbody>
                <tr *ngFor="let transac of listaTransacciones" >
                    <td>
                        {{ transac.fechaTransaccion | date: 'medium' }}
                    </td>
                    <td>
                        {{ transac.nombreCliente }}
                    </td>
                    <td>
                        {{ transac.nombreTienda }}
                    </td>
                    <td>
                        {{ transac.nombanco }} / <small class="text-secondary" > {{ transac.numerocuenta }} </small>
                    </td>
                    <td>
                        {{ transac.transaccion_No }}
                    </td>
                    <td>
                        {{ transac.machine_Sn }}
                    </td>                    
                    <td>
                        {{ transac.usuarios_idFk }}
                    </td>
                    <td>
                        {{ transac.nombreUsuario }}
                    </td>
                    <td>
                        {{ transac.deposito_Bill_1 }}
                    </td>
                    <td>
                        {{ transac.deposito_Bill_2 }}
                    </td>
                    <td>
                        {{ transac.deposito_Bill_5 }}
                    </td>
                    <td>
                        {{ transac.deposito_Bill_10 }}
                    </td>
                    <td>
                        {{ transac.deposito_Bill_20 }}
                    </td>
                    <td>
                        {{ transac.deposito_Bill_50 }}
                    </td>
                    <td>
                        {{ transac.deposito_Bill_100 }}
                    </td>
                    <td>
                        {{ transac.manual_Deposito_Coin_1 }}
                    </td>
                    <td>
                        {{ transac.manual_Deposito_Coin_5 }}
                    </td>
                    <td>
                        {{ transac.manual_Deposito_Coin_10 }}
                    </td>
                    <td>
                        {{ transac.manual_Deposito_Coin_25 }}
                    </td>
                    <td>
                        {{ transac.manual_Deposito_Coin_50 }}
                    </td>
                    <td>
                        {{ transac.manual_Deposito_Coin_100 }}
                    </td>
                    <td style="background-color: rgb(191, 245, 191) !important; "  >
                        <div style="text-align: right;" >
                            $ {{ transac.total | number : '1.2-2' }}
                        </div>
                    </td>
                    <td>
                        {{ transac.tipoTransaccion }}
                    </td>

                </tr>
            </tbody>


        </table>
        

    </div>
    <table class="w-100 table table-primary table-bordered " >
        <thead class="bg-info text-dark" >
        <th class="p-1" >
            <!-- Fecha y hora -->
        </th>
        <th class="p-1">
            <!-- Cliente -->
        </th>
        <th class="p-1">
            <!-- Tienda -->
        </th>
        <th class="p-1">
            <!-- Cuenta Bancaria -->
        </th>
        <th class="p-1" title="Número de transacción">
            <!-- N. Trans. -->
        </th>                
        <th class="p-1" >
            <!-- N. Serie Equipo -->
        </th>           
        <th class="p-1">
            <!-- Usuario -->
        </th>
        <th class="p-1">
            <!-- Nombre usuario -->
        </th>                
        <th class="p-1" >
            $1
        </th>
        <th class="p-1" >
            $2
        </th>
        <th class="p-1" >
            $5
        </th>
        <th class="p-1" >
            $10
        </th>
        <th class="p-1" >
            $20
        </th>
        <th class="p-1" >
            $50
        </th>
        <th class="p-1" >
            $100
        </th>
        <th class="p-1" >
            $0.01
        </th>
        <th class="p-1" >
            $0.05
        </th>
        <th class="p-1" >
            $0.10
        </th>
        <th class="p-1" >
            $0.25
        </th>
        <th class="p-1" >
            $0.50
        </th>
        <th class="p-1" >
            $1.00
        </th>
        <th class="p-1">
            Total
        </th>
        <th class="p-1" title="Tipo de transacción" >
            <!-- Tipo Trans. -->
        </th>
    </thead>
        <tbody  class="table-bordered">
            <tr>
            <td>                    
            </td>
            <td>                    
            </td>
            <td>                    
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>                    
            <td>
                
            </td>
            <td>
                
            </td>
            <td style="text-align: right;">
                {{ deposito_Bill_1 }}
            </td>
            <td style="text-align: right;">
                {{ deposito_Bill_2 }}
            </td>
            <td style="text-align: right;">
                {{ deposito_Bill_5 }}
            </td>
            <td style="text-align: right;">
                {{ deposito_Bill_10 }}
            </td>
            <td style="text-align: right;">
                {{ deposito_Bill_20 }}
            </td>
            <td style="text-align: right;">
                {{ deposito_Bill_50 }}
            </td>
            <td style="text-align: right;">
                {{ deposito_Bill_100 }}
            </td>
            <td style="text-align: right;">
                {{ manual_Deposito_Coin_1 }}
            </td>
            <td style="text-align: right;">
                {{ manual_Deposito_Coin_5 }}
            </td>
            <td style="text-align: right;">
                {{ manual_Deposito_Coin_10 }}
            </td>
            <td style="text-align: right;">
                {{ manual_Deposito_Coin_20 }}                
            </td>
            <td style="text-align: right;">
                {{ manual_Deposito_Coin_50 }}
            </td>
            <td style="text-align: right;">
                {{ manual_Deposito_Coin_100 }}
            </td>
            <td style="background-color: rgb(191, 245, 191) !important; text-align: right;">
                $ {{sumatoriaTotales | number : '1.2-2' }}
            </td>
            <td>
                
            </td>
            </tr>
        </tbody>
    </table>
    <!-- <div class="w-100 d-flex justify-content-end bg-primary text-warning fs-4 p-3 rounded-3  " style="width: 25%;"  >
       <span>Totales: </span> &nbsp;&nbsp; <strong>  </strong>
    </div> -->
</div>
