.left-overlay {
  left: 150 !important;
  top: 0;
}

// Tabla
.bordeTabla {
  margin: 0;
  padding: 0;
  height: 87%;
  overflow: auto;
}
.bordeTabla thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #0d6efd;
  color: white;
}
