<div class="dashworks rounded-2 p-3" style="background-color: whitesmoke;">
    <span class="fs-5 d-flex align-item-center ">
        <mat-icon>help</mat-icon> Ayuda técnica de colores:
    </span>
    <hr>
    <div id="box-interactive ">
        <div class="d-flex justify-content-between align-item-center m-1 p-3 rounded-3"
            style="border-bottom: solid 1px gray; background-color: #444; color: whitesmoke;">
            <div class="box-color shadow-sm" style="background-color: #F1C590;">
            </div>
            <div class="fs-5" style="text-align: right;">
                Transacciones de recolección
            </div>
        </div>
        <div class="d-flex justify-content-between align-item-center m-1 p-3 rounded-3"
            style="border-bottom: solid 1px gray; background-color: #444; color: whitesmoke;">
            <div class="box-color shadow-sm" style="background-color:#DBE8E8;">
            </div>
            <div class="fs-5" style="text-align: right;">
                Transacciones normales <br> automáticas o manuales
            </div>
        </div>
        <div class="d-flex justify-content-between align-item-center m-1 p-3 rounded-3"
             style="border-bottom: solid 1px gray; background-color: #444; color: whitesmoke;">
             <div class="box-color shadow-sm"
                  style="background-color:#F1F090">
             </div>
             <div class="fs-5"
                  style="text-align: right;">
                  Transacciones en revision <br> para la pre acreditación bancaria
             </div>
        </div>
        <div class="d-flex justify-content-between align-item-center m-1 p-3 rounded-3"
             style="border-bottom: solid 1px gray; background-color: #444; color: whitesmoke;">
             <div class="box-color shadow-sm"
                  style="background-color:#B5FED8">
             </div>
             <div class="fs-5"
                  style="text-align: right;">
                  Transacciones acreditadas al banco
             </div>
        </div>
    </div>

</div>