.dias {
    background-color: rgb(238, 238, 238);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.dias-chips{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #444;
    padding-top: 5px;
    transition: ease all 0.5s;
    font-weight: bold;
}

#canvas {
    width: 100% !important;
}

.dias-chips:hover {
    transition: ease all 0.5s;
    cursor: pointer;
    background-color: rgb(0, 153, 255);
    color: #444 !important;
}

.dias-chips.active {
    background-color: rgb(0, 153, 255);
    color: #444 !important;
}