<div class="spinner-overlay" *ngIf="_show_spinner">
  <div class="spinner-container">
    <span class="loader"></span>
  </div>
</div>

<div class="dashworks p-2 rounded-3 d-flex w-100 h-100" [ngStyle]="{ 'background-color': 'white' }">
  <div class="register d-flex justify-content-between w-100">
    <div class="w-25 p-3" *ngIf="viewForm">
      <div class="">
        <h1>Registro de Tiendas</h1>
        <hr />
      </div>
      <small class="text-secondary" style="opacity: 0"> {{ count }} </small>
      <form [formGroup]="tiendaForm" class="mb-2" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="codigoClienteidFk" class="form-label">
            <span class="text-primary"> Escoge el Cliente </span>
            <span class="text-danger">*</span>
          </label>
          <select id="codigoClienteidFk"
            class="inpForms form-select w-100"
            formControlName="codigoClienteidFk"
            #codigoClienteidFk
            (change)="this.obtenerLocalidad();"
            aria-label="">
            <option *ngFor="let cliente of clientelista"
              [value]="cliente.codigoCliente">
              {{ cliente.nombreCliente | titlecase }} - {{ cliente.ruc }}
            </option>
          </select>
        </div>
        <div *ngIf="true"
          class="animate_animated animate_backInLeft p-2 bg-light rounded-2">
          <div class="mb-3 w-100">
            <label for="nombreTienda" class="form-label text-secondary">
              Nombre de tienda: <span class="text-danger">*</span>
            </label>
            <input type="text"
              class="form-control"
              formControlName="nombreTienda"
              #nombreTienda
              id="nombreTienda"
              placeholder="Tienda Carlitos..."
            />
          </div>
          <div class="mb-3 w-100">
            <label for="RUC" class="form-label text-secondary">
              Teléfono de la tienda: <span class="text-danger">*</span>
            </label>
            <input type="text"
              class="form-control"
              formControlName="telefono"
              #telefono
              id="telefono"
              placeholder=""
              (keyup)="validateInputNumber(telefono)"
            />
          </div>
          <div class="mb-3 w-100">
            <label for="Direccion" class="form-label text-secondary">
              Dirección: <span class="text-danger">*</span>
            </label>
            <input type="text"
              class="form-control"
              formControlName="direccion"
              #direccion
              id="direccion"
              placeholder="Av. Carlos Julio...."
            />
          </div>
          <div class="mb-3 w-100">
            <label for="nombre_contacto" class="form-label text-secondary"> Nombre de Administrador: </label>
            <input type="text"
              class="form-control"
              formControlName="nombreAdmin"
              #nombreAdmin
              id="nombreAdmin"
              placeholder=""
              (keyup)="validateInputText(nombreAdmin)"
            />
          </div>
          <div class="mb-3 w-100">
            <label for="Telefono" class="form-label text-secondary">Telefono del administrador: </label>
            <input type="text"
              class="form-control"
              formControlName="telfAdmin"
              #telfAdmin
              id="telfAdmin"
              placeholder=""
              (keyup)="validateInputNumber(telfAdmin)"
            />
          </div>
          <div class="mb-3 w-100">
            <label for="email_contacto" class="form-label text-secondary">Email del administrador:</label>
            <input type="text"
              class="form-control"
              formControlName="emailAdmin"
              #emailAdmin
              id="emailAdmin"
              placeholder=""
            />
          </div>
          <div class="mb-3 col-3 w-100">
            <label for="codProv" class="form-label">Localidad: <span class="text-danger">*</span></label>
            <select id="codProv"
              class="inpForms form-select w-100"
              formControlName="codProv"
              #codProv
              aria-label="">
              <option *ngFor="let tipo of localidadesGuardadasCliente"
                [value]="tipo.codigo">
                {{ tipo.nombre }}
              </option>
            </select>
          </div>
          <div class="d-flex flex-wrap justify-content-between">
            <div class="floating-button">
              <button type="button"
                class="btn btn-danger btn-sm"
                *ngIf="_cancel_button"
                (click)="limpiar()">
                <div class="icono" [style]="'background-image: url( ' + cancel + ' )'"></div>
              </button>
              <button type="submit"
                class="d-flex align-items-center btn btn-sm btn-primary"
                *ngIf="_create_show">
                <div class="icono" [style]="'background-image: url( ' + crear + ' )'"></div>
                <div>{{ _action_butto }} Tienda</div>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div [class]="_width_table">
      <div class="p-2 d-flex justify-content-between align-items-center">
        <div class="w-25">
          <h1 class="m-0">
            Tiendas Registradas
            <span class="text-secondary"> ({{ tiendalista.length }}) </span>
          </h1>
        </div>
        <div class="w-75">
          <section class="filtros mt-2 mb-2 w-100 d-flex">
            <div class="mb-2 d-flex w-100">
              <form [formGroup]="filtertienForm" class="w-100">
                <input type="text"
                  class="w-100 shadow-sm form-control rounded-pill"
                  fxFlex="auto"
                  formControlName="filtertien"
                  #filtertien
                  id="filtertien"
                  (keyup)="filterTienda()"
                  placeholder="Búsqueda de tiendas registradas..."
                />
              </form>
            </div>
            <div *ngIf="permisonUsers">
              <div class="icono-btn"
                [style]="'background-image: url( ' + add + ' )'"
                (click)="viewForm = !viewForm; widthAutom()"
              ></div>
            </div>
          </section>
        </div>
        <hr />
      </div>
      <div class="bordeTabla">
        <table class="table table-hover table-primary table-striped align-middle">
          <thead class="bg-primary text-light">
            <tr>
              <th class="p-2" *ngIf="permisonUsers"></th>
              <th class="p-2">Nombre Tienda</th>
              <th class="p-2">Nombre Cliente</th>
              <th class="p-2">Telef. tienda</th>
              <th class="p-2">Nombre Administrador</th>
              <th class="p-2">Email Administrador</th>
              <th class="p-2">Localidad</th>
              <th class="p-2">Dirección</th>
              <th class="p-2" title="Agregar cuentas contables del cliente">
                Cta.Cont.
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tienda of tiendalista; let i = index">
              <td *ngIf="permisonUsers">
                <div class="d-flex">
                  <div class="icono-btn"
                    [style]="'background-image: url( ' + edit + ' )'"
                    (click)="validateCatchData(tienda)"
                  ></div>
                  <div class="icono-btn"
                    [style]="'background-image: url( ' + delete + ' )'"
                    (click)="eliminarTiendas(tienda, i)"
                  ></div>
                </div>
              </td>
              <td>{{ tienda.nombreTienda }}</td>
              <td>{{ tienda.nombreCliente }}</td>
              <td>{{ tienda.telefono }}</td>
              <td>
                <span>{{ tienda.nombreAdmin }}</span>
                <br>
                <small class="text-secondary">telf: 0{{ tienda.telfAdmin }}</small>
              </td>
              <td>{{ tienda.emailAdmin }}</td>
              <td>{{ tienda.nombreLocalidad }}</td>
              <td>{{ tienda.direccion }}</td>
              <td>
                <div class="d-flex">
                  <button class="btn btn-warning btn-sm"
                    [matBadge]="tienda.cantidadCuentasAsign"
                    matBadgePosition="before"
                    matBadgeColor="warn"
                    [disabled]="dis_account_shop"
                    (click)="op.toggle($event);obtenerCuentasTienda(tienda.codigoTienda)">
                    <div [style]="'background-image: url( ' + search + ' )'" class="icono"></div>
                    <div>
                      <p-overlayPanel #op>
                        <span class="fs-4">
                          Cuentas bancarias asignadas:
                          <strong>
                            <span class="text-primary">({{ listaCuentaTiendasBanc.length }})</span>
                          </strong>
                        </span>
                        <hr />
                        <div class="table-responsive">
                          <table class="table table-warning table-bordered table-hover table-striped align-middle">
                            <thead class="bg-black text-light">
                              <th class="p-1" *ngIf="permisonUsers"></th>
                              <th class="p-1">Banco</th>
                              <th class="p-1" title="Número de Cuenta"> N. Cta.</th>
                            </thead>
                            <tbody>
                              <tr *ngFor="let cuenta of listaCuentaTiendasBanc;let i = index">
                                <td *ngIf="permisonUsers">
                                  <div class="d-flex">
                                    <div [style]="'background-image: url('+delete+')'"
                                      (click)="eliminarCuentaTienda(cuenta, i)"
                                      class="icono-btn"
                                    ></div>
                                  </div>
                                </td>
                                <td>{{ cuenta.nombanco }}</td>
                                <td>{{ cuenta.numerocuenta }}
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </p-overlayPanel>
                    </div>
                  </button>
                  <button (click)="openDialogCuentas(tienda)"
                    class="d-flex justify-content-center align-items-center btn btn-primary">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
