.equipo-monitor {
  background: rgb(17, 38, 74);
  background: linear-gradient(
    311deg,
    rgba(17, 38, 74, 0.9221813725490196) 0%,
    rgba(28, 70, 120, 0.9527777777777777) 100%
  );
  height: 95vh;
  overflow-y: auto;
}

.time {
  background-color: rgba(0, 0, 0, 0.126);
}

.filter-monitoreo {
  position: fixed;
  bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: ease all 1.5s;
  opacity: 0.3;
}

.filter-monitoreo:hover {
  transition: ease all 0.5s;
  opacity: 0.9;
}

.btn-del{
  width: 30px;
  height: 30px;
  font-size: 1.25rem;
  background: rgb(255, 0, 0);
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  border-radius: 100%;
  padding: 2px;
  margin-left: 2px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.349);
}

.notification{
  border: none; 
  background-color: #00000049; 
  color: white; 
  width: 38px;
  height: 38px;
}

.notification.notifAct{
  background-color: rgb(255, 255, 255); 
  color: rgb(21, 51, 92);
}

.table{
  --bs-table-hover-bg: rgb(232, 238, 255);
}

.table tbody td:first-child{
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.table tbody td:last-child{
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

td{
  white-space: pre-line;
}

.bg-blue{
  // --bs-table-bg: #EBF5FB;
  --bs-table-bg: #E5E5E5;
  border-radius: 10px;
}

#spacing-row{
  height: 5px;
}