<div style="position: fixed; top: 20px; left: 10px;">
    <button type="submit"
        style="border: none; background-color: transparent;"
        class="d-flex align-items-center"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasExample"
        aria-controls="offcanvasExample">
        <div [matBadge]="nuevoObjectalerts.length" matBadgeColor="warn" [style]="'background-image: url( ../../../../assets/alert.png )'" class="icono"></div>
   </button>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h2 class="offcanvas-title" id="offcanvasExampleLabel">Registro de alertas</h2>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <hr>
    <div class="offcanvas-body">    
      <div>
      </div>
      <div class="alerts-error">
        <audio #audioPlayer>
            <source src="../../../../assets/mp3/errormachine.mp3" type="audio/mpeg">
        </audio>
        <div class="d-flex flex-column">
        <div class="chips-alert m-2 rounded-2 shadow-sm p-2 animate__animated animate__bounceIn"
             *ngFor="let alertas of nuevoObjectalerts; let i = index"
             [style]="'background-color:'+alertas.colorbg +'; color:'+alertas.colorfg+'; border: groove 1px ' + alertas.colorfg"
             (click)="eliminaralerta(i)">
             <div>
                <!-- <span><strong>{{alertas.tipo}}</strong></span>
                <br> -->
                <strong>@</strong> <span> {{alertas.msj}} </span>
             </div>
             <div></div>
        </div>
        </div>
    </div>      
    </div>
</div>

<div class="equipo-monitor w-100 p-4">
    <div class=" filter-monitoreo w-50 d-flex align-items-center ">
        <!-- <div class="m-1">
            <button class="btn btn-outline-warning" style="font-weight: bold;" (click)="view_filter = !view_filter" > Filtrar </button>
        </div> -->
        <section class="filtros w-100 animate__animated animate__backInLeft" *ngIf="true" >
            <div class="mb-2 d-flex w-100">
                <input class=" w-100 shadow-sm form-control rounded-pill"
                    fxFlex="auto" type="text"
                    [(ngModel)]="filterequip"
                    (keyup)="filterEquipos()" 
                    style="font-weight: bold; font-size: 18pt;"
                    #input
                    placeholder="Búsqueda de equipos...">
            </div>
        </section>
    </div>

    <div class="d-flex flex-wrap justify-content-lg-around align-items-center">
        <div class="equipos shadow-sm m-1 rounded-2" *ngFor="let equipos of listaEsquipo"
            [style]="'background-color: ' +equipos.colorEsstado+ '; transition: ease-in all 1s; width: 250px '">
            <div class="p-1" >
                <span class="p-2 d-flex justify-content-between align-items-end">
                    <div style="text-align: center; background-color: rgba(0, 0, 0, 0.1); width: 100%;" class=" p-2 rounded-2 " >
                        <div [class]="equipos.colorTexto"> <strong> {{ equipos.nombreTienda }} / {{ equipos.provincia }} </strong> </div>
                        <strong [class]="equipos.colorTexto" > {{ equipos.serieEquipo }} </strong>
                    </div>
                </span>                            
                <span class="p-2 d-flex justify-content-between">
                    <small>IP:</small> &nbsp;&nbsp;
                    <strong [class]="equipos.colorTexto">
                        {{ equipos.ipEquipo }}
                    </strong>
                </span>
            </div>
            <div class="p-2 mx-1 d-flex justify-content-between">
                <span> % Cantidad de Piezas </span>
                <strong> {{equipos.indicadorPorcentajeBilletes}} % </strong>
                <!-- <strong>
                    {{ equipos.indicadorCapacidadBilletes }} / {{ equipos.indicadorCapacidadBilletesMax }}
                </strong> -->
            </div>
            <div class="progress shadow-sm my-1 mx-2"
                data-bs-toggle="tooltip" data-bs-placement="top"
                [title]=" equipos.indicadorPorcentajeBilletes + '%' ">
                <div [class]="equipos.indicadorColorBarProgressBilletes"
                    role="progressbar" 
                    [style.width]="equipos.indicadorPorcentajeBilletes + '%'"
                    style="transition: ease-in-out 1s all;"
                    [attr.aria-valuenow]="equipos.indicadorPorcentajeBilletes"
                    aria-valuemin="0"
                    aria-valuemax="100">
                    <!-- {{equipos.indicadorPorcentajeBilletes}} % -->
                </div>                                
            </div>
            <div class="p-2 mx-1 d-flex justify-content-between">
                <span> % Monto Asegurado </span>
                <strong> {{equipos.indicadorPorcentajeTotalMaxAsegurado}} % </strong>
                <!-- <strong> $  {{equipos.indicadorTotalAsegurado}} / $ {{equipos.indicadorTotalMaxAsegurado}} </strong> -->
            </div>
            <div class="progress shadow-sm my-1 mx-2"
                data-bs-toggle="tooltip" data-bs-placement="top" 
                [title]="equipos.indicadorPorcentajeTotalMaxAsegurado + '%' ">
                <div [class]="equipos.indicadorColorBarProgressAsegurado"
                    role="progressbar" 
                    [style.width]="equipos.indicadorPorcentajeTotalMaxAsegurado + '%'"
                    style="transition: ease-in-out 1s all;"
                    [attr.aria-valuenow]="equipos.indicadorPorcentajeTotalMaxAsegurado"
                    aria-valuemin="0"
                    aria-valuemax="100">
                    <!-- {{equipos.indicadorPorcentajeTotalMaxAsegurado}} % -->
                </div>
            </div>
            <div class="d-inline-block" >
                 <div class="time text-dark rounded-2 w-100 p-2 m-2 d-flex justify-content-between">
                    <small>Tiempo Sincronización: </small>
                     <span>{{ equipos.tiempoSincronizacion | date: 'short' }} </span>
                </div>
                <div class="time text-dark rounded-2 w-100 p-2 m-2 d-flex justify-content-between">
                    <small>Última Recolección: </small>
                    <span>{{ equipos.ultimaRecoleccion | date: 'short' }} </span>
                </div>
                <div class="time text-dark rounded-2 w-100 p-2 m-2 d-flex justify-content-between">
                    <small>No. Trans: </small>
                    <ng-container *ngIf="equipos.tipoTrans !== null; else vacioNTrans">
                        <span>
                            {{ equipos.ultimaNoTrans }}
                            <strong>{{ equipos.tipoTrans }}</strong> 
                        </span>
                    </ng-container>
                    <ng-template #vacioNTrans>
                        <span>---</span>
                    </ng-template>
                </div>
                <div class="time text-dark rounded-2 w-100 p-2 m-2 d-flex justify-content-between">
                    <small>Última Trans: </small>
                    <ng-container *ngIf="equipos.fechaUltimaTrans !== null; else vacioFTrans">
                        <span>{{ equipos.fechaUltimaTrans | date: 'short' }} </span>
                    </ng-container>
                    <ng-template #vacioFTrans>
                        <span>---</span>
                    </ng-template>
                </div>
            </div>
            <!-- <div class="w-100">
                <button [class]="equipos.colorBtn"
                        (click)="obtenerDetalleEquipos(equipos)">
                        Monitorear
                </button>
            </div> -->
        </div>
    </div>
</div>