<div class="contdiv d-flex justify-content-start">
    <div class="d-flex flex-column w-100">
        <div class="header p-3 w-100 animate__animated animate__fadeInDown" style=" background-color: #0F4E84; "
            *ngIf="estadow">
            <div class="d-flex justify-content-between align-items-center">

                <div>
                    <span class="text-light"> Bienvenid&#64; </span>
                    &nbsp;
                    <span [ngStyle]="{'color': '#fff'}">
                        <strong> {{usuario}} </strong>
                    </span>
                </div>

                <div class="d-flex justify-content-start" *ngIf="showHeadMenu">
                    <div class="box_menu_head m-1 animate__animated animate__fadeIn" *ngFor="let hmenu of listaHomeMenu"
                        [title]="hmenu.tipo | titlecase" mat-raised-button [matBadge]="hmenu.cantidad"
                        matBadgePosition="before" (click)="recibirDataButtonHome(hmenu.tipo)">
                        <mat-icon> {{ hmenu.icon }} </mat-icon>
                    </div>
                </div>

                <div class="btnhome d-flex" (click)="goToHome()">
                    <div class="icono animate__animated animate__bounceIn"></div>
                    <span class="text-light d-flex justify-content-center align-items-center ">
                        <mat-icon>home</mat-icon>
                        <h1 class="m-0">
                            &nbsp;
                            <span> Home </span>
                        </h1>
                    </span>
                </div>

            </div>
        </div>
        <div class="apps-controllers" [style]="'height: ' + height_app+';'">
            <app-repodash [estadow]="estadow" (estadointerfaz)="recibirDataButtonHome($event)" *ngIf="show_home">
            </app-repodash>
            <app-usuarios *ngIf="show_usuarios"></app-usuarios>
            <app-tienda *ngIf="show_tiendas"></app-tienda>
            <app-cliente *ngIf="show_clientes"></app-cliente>
            <app-equipo *ngIf="show_equipo"></app-equipo>
            <app-monitorear-equipo *ngIf="show_monitorear_equipo">
            </app-monitorear-equipo>
        </div>
    </div>
</div>