.navside {
  border-right: groove 1px rgb(73, 122, 228);
  height: 100vh;
  border-bottom-right-radius: 5px;
}

.apps-controllers {
  overflow: auto;
}

#icono-modulo {
  transition: ease-in-out all 1s;
  cursor: pointer;
}

#icono-modulo:hover {
  transition: ease-in-out all 0.5s;
  transform: rotate(-25deg);
}

:host ::ng-deep .mdc-tab__text-label {
  background-color: aqua;
  color: rgb(56, 56, 56) !important;
  font-size: 18pt;
}

.icono {
  color: white;
}