.navside {
  border-right: groove 1px rgb(73, 122, 228);
  height: 100vh;
  border-bottom-right-radius: 5px;
}

.apps-controllers {
  overflow: auto;
}

#icono-modulo {
  transition: ease-in-out all 1s;
  cursor: pointer;
}

#icono-modulo:hover {
  transition: ease-in-out all 0.5s;
  transform: rotate(-25deg);
}

:host ::ng-deep .mdc-tab__text-label {
  background-color: aqua;
  color: rgb(56, 56, 56) !important;
  font-size: 18pt;
}

.box_menu_head {
    cursor: pointer;
    color: whitesmoke;
    border: groove 1px gray;
    border-radius: 5px;
    box-shadow:    5px 5px 5px rgba(0, 0, 0, 0.5);
    padding:       5px;
    background-color: rgba(11, 11, 11, 0.151);
    transition: ease all 0.5s;
    width: 40px;
    height: 40px;
}

.box_menu_head:hover {
    transition: ease all 0.5s;
    color: whitesmoke;
    border-radius: 100%;
    transform: scale(0.9);
    color: orange;
    box-shadow:    0px 0px 0px rgba(0, 0, 0, 0.5);
    padding:       5px;
    background-color: rgba(11, 11, 11, 0.151);
}
