<div class="spinner-overlay"  *ngIf="_show_spinner">
    <div class="spinner-container">
      <span class="loader"></span>
    </div>
</div>

<div class="contdiv container-fluid d-flex justify-content-around align-items-center"
     id="contdivLogin" [ngStyle]="{'background-color': primary}" >

    <div class="img">
        <figure class="img-cont">
            <img src="../../../assets/bg-imgs/maquine_count.png" alt="" width="300px" height="auto" >
        </figure>
        <div class="box-anim animate__animated animate__fadeInLeft "></div>
        <div class="box-anim-2 animate__animated animate__fadeInRight"></div>
    </div>

    <div class="box">

        <h1 class="text-light m-0">
            Login
        </h1>
        <br>
        <small class="text-warning">
            Ingresa con tu correo y contraseña
        </small>
        <hr>
        <form [formGroup]="loginForm"
              class="mb-2"
              (ngSubmit)="onSubmit()">
              <div class="mb-3">
                    <label for="email"
                           class="form-label text-light">
                           Username:
                    </label>
                    <input type="email"
                           class="form-control"
                           formControlName="email"
                           #email
                           id="email"
                           placeholder="name@example.com">
              </div>
              <div class="mb-3">
                  <label for="contrasenia" class="form-label text-light">
                      Contraseña:
                  </label>
                  <input type="password" class="form-control"
                         formControlName="contrasenia"
                         #contrasenia
                         id="contrasenia"
                         placeholder="******">
              </div>
              <button type="submit" class="btn btn-outline-warning w-100 d-flex align-items-center justify-content-center">
                  <i class="pi pi-lock"></i> Ingresar
              </button>
        </form>
        <div style="background-color: rgb(255, 125, 78);"
             class="w-100 
             text-light rounded-2 d-flex
             justify-content-center mt-2 p-2">
             <small>
                 <strong>{{version_actual}} - 2024</strong>
             </small>
        </div>
    </div>

</div>





