<div class="contdiv p-4" style="background-color: whitesmoke;">    
  <div class="m-0 d-flex justify-content-between align-items-center">
      <span><h2 class="m-0">Data de equipos a importar:</h2></span>
      <span class=" shadow-sm p-3 d-flex justify-content-center align-items-center bg-warning text-dark "
      style="width: 45px; height: 45px; border-radius: 100%; " > 
      <strong class="fs-6"> {{localidadesEncontradas.length}}  </strong>
    </span>
  </div>
  <hr>
  <div class="body-data">
  <div class="mb-2 d-flex w-100">
    <form [formGroup]="equipoCliForm" class="w-100" >
      <input class=" w-100 shadow-sm form-control rounded-pill"
             fxFlex="auto" type="text"
             formControlName="filterEqui"
             #filterEqui
             id="filterEqui"
             (keyup)="filterEquipo()"
             #input placeholder="Búsqueda de equipos...">
    </form>
  </div>
  <div>
  <div>
      <div *ngFor="let local of localidadesEncontradas; let i = index;">
        <div [class]="local.bgloc + ' rounded-1 p-2 shadow-sm m-1 w-75 d-flex justify-content-between'">
          <strong>{{ i + 1 }}.- {{ local.loc }}</strong>
          <div [matBadge]="local.equiposTrans.length"
               matBadgePosition="before"
               title="Número de equipos asignados a esta localidad"
               matBadgeColor="warn"></div>
        </div>
        <table class="table table-striped table-bordered table-responsive-lg shadow-sm table-dark">
          <thead class="bg-dark text-light">
              <th>
                <input type="checkbox" (change)="selectAll($event, local)">
              </th>
              <th title="Nombre de Equipo">
                N. Equipo
              </th>
              <th title="Dirección IP del Equipo">
                IP Equipo
              </th>
              <th title="Nombre de la Tienda asignada">
                Nombre Tienda
              </th>
              <th title="Conteo de transacciones Manuales">
                Conteo Man.
              </th>
              <th title="Conteo de transacciones Automáticas">
                Conteo Aut.
              </th>
              <th title="Conteo de transacciones Resagadas Manuales">
                Conteo MR
              </th>
              <th title="Conteo de transacciones Resagadas Automáticas">
                Conteo AR
              </th>
          </thead>
          <tbody>
            <tr *ngFor="let equipo of local.equiposTrans; let j = index">
              <td>
                <input type="checkbox" [formControl]="selectedEquiposControl" (change)="toggleSelection(equipo, local)" [id]=" local.loc + '-' + j">
              </td>
              <td>
                {{ equipo.machine_Sn }}
              </td>
              <td>
                {{ equipo.ipEquipo }}
              </td>
              <td>
                {{ equipo.nombreTienda }}
              </td>
              <td>
                {{ equipo.conteo_M }}
              </td>
              <td>
                {{ equipo.conteo_A }}
              </td>
              <td>
                {{ equipo.conteo_MR }}
              </td>
              <td>
                {{ equipo.conteo_AR }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div  >
  <div class="mt-2" style="background-color: whitesmoke;" >
    <small class="text-secondary" >Número total de transacciones visualizando:</small>
    <div>
      <div class="d-flex justify-content-between">
        <span class="d-flex justify-content-between" style="width: 170px;">
          <span> T. Tr. A.</span> <strong> {{totalAutomaticas}}</strong></span>
        <span class="d-flex justify-content-between" style="width: 170px;"><span> T. Tr. Rez. A.</span> 
          <strong> {{totalResagadasAutomaticas}}</strong>
        </span>
      </div>
      <div class="d-flex justify-content-between">
        <span class="d-flex justify-content-between" style="width: 170px;"><span> T. Tr. M.</span> <span style="border-bottom: solid 2px gray;" > <strong> {{totalManuales}}</strong> </span> </span>
        <span class="d-flex justify-content-between" style="width: 170px;"><span> T. Tr. Rez. M. </span><span style="border-bottom: solid 2px gray;" ><strong> {{totalResagadasManuales}}</strong></span></span>
      </div>
      <div class="d-flex justify-content-between" style="background-color: rgb(225, 225, 225);" >
        <span class="d-flex justify-content-between" style="width: 170px;"><span> T. Tr.</span> <strong> {{SumatotalTransac}}</strong></span>
        <span class="d-flex justify-content-between" style="width: 170px;"><span> T. Tr. Rez. </span><strong> {{SumatotalTransacResag}}</strong></span>
      </div>
    </div>
    <hr>
    <button class="btn btn-outline-dark w-100 rounded-0" (click)="closeDialog()">
        Importar datos transaccionales
    </button>
  </div>

  <footer style="background-color: whitesmoke;" class="w-100">
    <div class="p-1 rounded-pill" style="background-color: rgba(0, 0, 0, 0.05);">
        <small>
          {{equiposSeleccionados.length}} de {{ listaEsquipo.length }} equipos seleccionados
        </small>
    </div>
  </footer>
</div>