.nav-side-content {
  transition: ease all 2s;
  border-radius: 5px;
  margin: 2px;
  cursor: pointer;
}

.nav-side-content:hover {
  transition: ease all 0.5s;
  transform: scale(0.9);
}

.icon{
  color: white;
  margin-right: 5px;
}