<div  class="d-flex justify-content-between align-items-center  ">
    <div>
        <h2 class="m-0" >
            <span>Transacciones del equipo 
                <span class="textinfo text-primary fs-5" >{{listenNserie}}</span> del cliente
                <span class="text-primary fs-5" >{{cliente}}</span> de la tienda 
                <span class="text-primary fs-5" >  {{tienda}}</span>
                <span>
                    <strong class="text-primary" >
                        ( {{ listaTransacciones.length }} )
                    </strong>
                </span> 
            </span> 
        </h2>
    </div>
    <div class="d-flex">
        <button  class="d-flex align-items-center btn btn-sm btn-outline-primary"
                 [disabled]="dis_execel_export"
                 (click)="exportToExcel()">
                 <img src="../../../../../../assets/excel.png"
                      width="50px" alt="">
                      <div>Exportar a excel</div>
        </button>
        <button class="btn btn-warning d-flex align-items-center"
                (click)="navigateDatexport()">
                <div [style]="'background-image: url( '+configblack+' )'" class="icono" ></div> &nbsp; Exportación de datos                                     
        </button>
    </div>
</div>

<hr>

<div class="d-flex justify-content-between align-items-center">
    
    <div class="w-75 d-flex align-items-center">
        <section class="filtros w-100 mt-1">
            <div class="mb-2 d-flex w-100">
                <form [formGroup]="filterTransaccForm" class="w-100">
                <input class=" w-100 shadow-sm form-control rounded-pill" 
                       fxFlex="auto" type="text"
                       formControlName="filterTransacc"
                       #filterTransacc
                       id="filterTransacc"
                       (keyup)="filterTransaccos()" 
                       placeholder="Búsqueda de transacciones registradas a esta tienda...">
                </form>
            </div>
        </section>
    </div>
    <div *ngIf="true" class="d-flex">
        <form [formGroup]="filterDateForm">
            <div class="d-flex">
            
                <div class="date-input p-1">
                    <input type="date"
                           class="form-control"
                           formControlName="startDate"
                           #startDate
                           id="startDate"
                           (change)="validarRangoDeFechas()">
                </div>
                <div class="date-input p-1">
                    <input type="date" class="form-control"
                           formControlName="endDate"
                           #endDate
                           id="endDate"
                           (change)="validarRangoDeFechas()">
                           <small class="text-secondary">
                                <strong> 
                                    {{dias_estimados}}
                                </strong>
                           </small>
                </div>
            </div>
            </form>
        <button class="btn btn-warning" [disabled]="disButton"
                (click)="filterByDateRange()">
                Buscar
        </button>
    </div>
</div>
